source https://nuget.org/api/v2
redirects: on
framework net461

github logary/logary src/Logary.Facade/Facade.fs 1694c019e4cb779928011eca724a82b66756d5b4

nuget Argu
nuget FsCheck
nuget FSharp.Core
nuget BenchmarkDotNet
nuget BenchmarkDotNet.Toolchains.Roslyn
nuget BenchmarkDotNet.Core
nuget NuGet.CommandLine
nuget Mono.Cecil = 0.10-beta5

group build
  source https://www.nuget.org/api/v2
  nuget FAKE
